.itemContainer {
    width: 25%;
    max-width: 250px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: rgb(241, 145, 248);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

.imageContainer{
    margin: auto;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #a1a1a1;
    background-color: #ffffff;
}

.imageStyle {
    width: 80%;
}

.nombreItem {
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.datoItem {
    padding: 5px;
}

.btnItem {
    background-color: #ebebe0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 90%;
}

.btnItem:hover {
    background-color: #80ffaa;
}