.itemCountContainer {
    padding: 10px;
    background-color: #ffe6ff;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}

.itemCountText {
    text-align: center;
    padding: 15px;
}

.botonesItemCount {
    display: flex;
    justify-content: center;
}

.btnAgregar {
    text-align: center;
}

.btnCounter {
    background-color: #ebebe0;
    padding: 9px;
    margin: 6px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
}
.btnCounter:hover {
    background-color: #d9b3ff;
}